/* CSS for tech article */
body {
    font-family: courier;
}
h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 18px;
}	
img.big {
    display: block;
    margin: auto;
}
pre {
    font-size: 12px;
    background-color: grey;
}
li {
    font-weight: bold;
    color: blue;
}
